# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
src/obj/VATMap_Kafka.csproj.nuget.g.targets
src/obj/VATMap_Kafka.csproj.nuget.g.props
src/obj/VATMap_Kafka.csproj.nuget.dgspec.json
src/obj/VATMap_Kafka.csproj.nuget.cache
src/obj/project.assets.json
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.pdb
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.csprojAssemblyReference.cache
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.csproj.FileListAbsolute.txt
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.csproj.CopyComplete
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.assets.cache
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.AssemblyInfoInputs.cache
src/obj/Debug/netcoreapp3.1/VATMap_Kafka.AssemblyInfo.cs
src/bin/Debug/netcoreapp3.1/VATMap_Kafka.runtimeconfig.json
src/bin/Debug/netcoreapp3.1/VATMap_Kafka.runtimeconfig.dev.json
src/bin/Debug/netcoreapp3.1/VATMap_Kafka.pdb
src/bin/Debug/netcoreapp3.1/VATMap_Kafka.deps.json
src/.vs/VATMap_Kafka/v16/Server/sqlite3/storage.ide
src/.vs/VATMap_Kafka/v16/Server/sqlite3/db.lock
src/.vs/VATMap_Kafka/v16/.suo
src/.vs/VATMap_Kafka/DesignTimeBuild/.dtbcache
src/.vs/VATMap_Kafka/v16/Server/sqlite3/storage.ide-shm
src/.vs/VATMap_Kafka/v16/Server/sqlite3/storage.ide-wal
